/* ---- Vertical menu styles ---- */

.#{$class-prefix}vertical_nav.#{$class-prefix}vertical_menu,
body .#{$class-prefix}vertical_nav_item {
    border-color: #eff2f5;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.#{$class-prefix}vertical_nav_item.selected {
    background-color: #fff;
}

.#{$class-prefix}moderation_wrap .#{$class-prefix}moderation_sticked {
    top: 70px;
}


/* ---- End of the Vertical menu styles ---- */