/* ---- Item Content styles ---- */

.#{$class-prefix}ic_header {
    margin-bottom: 5px;
}

.#{$class-prefix}ic_header a {}

.#{$class-prefix}ic_description {
    margin-bottom: 5px;
}

.#{$class-prefix}ic_date {
    float: right;
    font-size: 13px;
    line-height: 14px;
}


/* ---- End of the Item Content styles ---- */