/* Groups Widget List */

body {
    @include make-widget-list('#groups-list_widget', '.#{$class-prefix}lp_groups', '&>.#{$class-prefix}smallmargin.clearfix', false);
    #groups-list_widget {
        .#{$class-prefix}box_menu {
            margin: 0;
        }
        .#{$class-prefix}lp_groups {
            &>.#{$class-prefix}smallmargin {
                margin: 0;
                &.clearfix {
                    display: flex !important;
                    align-items: center
                }
            }
            .#{$class-prefix}lp_wrapper {
                @include widget-lp_wrapper('a');
                a {
                    img {
                        width: auto;
                    }
                }
            }
            .#{$class-prefix}lp_label {
                margin: 0;
                a {
                    @include widget-lp_label();
                }
            }
        }
    }
}


/* Video Widget List */

body {
    @include make-widget-list('#video_list_widget', '#video-widget-latest, #video-widget-featured, #video-widget-toprated', '&>.#{$class-prefix}smallmargin.clearfix', false);
    #video_list_widget {
        .#{$class-prefix}box_menu {
            margin: 0;
        }
        #video-widget-latest,
        #video-widget-featured,
        #video-widget-toprated {
            &>.#{$class-prefix}smallmargin {
                margin: 0;
                &.clearfix {
                    display: flex !important;
                    align-items: center
                }
            }
            .#{$class-prefix}other_video_thumb {
                @include widget-lp_wrapper('a');
                a {
                    padding: 0;
                }
            }
            .#{$class-prefix}other_video_item_title {
                margin: 0;
                @include widget-lp_label();
                a {
                    color: var(--color--text)
                }
            }
        }
    }
}


/* Box Widget List */

body {
    .#{$class-prefix}dnd_widget {
        @include make-widget-list('.index-FORUM_CMP_ForumTopicsWidget, .index-EVENT_CMP_UpcomingEvents, .index-BLOGS_CMP_BlogWidget, .index-PHOTOCONTEST_CMP_UpcomingPhotocontests', false, '.#{$class-prefix}ipc', false);
    }
    .#{$class-prefix}dnd_widget {
        .#{$class-prefix}box,
        .#{$class-prefix}box_empty {
            .#{$class-prefix}ipc {
                margin: 0;
                display: flex !important;
                .#{$class-prefix}ipc_picture {
                    @include widget-lp_wrapper('.#{$class-prefix}avatar');
                    a {
                        padding: 0;
                    }
                }
                .#{$class-prefix}ipc_info {
                    margin: 0;
                    width: calc(100% - #{$wrapper-image-size});
                    font-size: calc((var(--font-size) * 17)/ 20);
                    padding: var(--padd);
                    box-sizing: border-box;
                    overflow: hidden;
                    * {
                        color: var(--color--text);
                    }
                    .#{$class-prefix}ipc_header {
                        padding: 0;
                        display: inline-block;
                    }
                    .#{$class-prefix}ipc_content {
                        font-size: 90%;
                        padding: 0;
                        .#{$class-prefix}small {
                            font-size: 10px;
                            line-height: 13px;
                        }
                    }
                }
            }
        }
    }
}