.clr {
    clear: both;
}

.#{$class-prefix}border {
    border-style: solid;
    border-color: #eff2f5;
}


/* Text align */

.#{$class-prefix}txtleft,
table td.#{$class-prefix}txtleft {
    text-align: left;
}


/* Layout */

.info {
    margin-bottom: 8px;
}

table.#{$class-prefix}nomargin,
div.#{$class-prefix}nomargin {
    margin-bottom: 0px;
}

.#{$class-prefix}alt1,
tr.#{$class-prefix}alt1 td {
    background-color: #fff;
}

.#{$class-prefix}alt2,
tr.#{$class-prefix}alt2 td {
    background-color: #fff;
}

.outline {
    color: var(--color--primary);
}

.#{$class-prefix}highbox_table .#{$class-prefix}highbox,
.#{$class-prefix}highbox {
    background: #f8fafc;
    border: none;
    box-shadow: 0px 0px 1px #eff2f5;
}

.#{$class-prefix}highbox {
    padding: 4px;
}

.#{$class-prefix}highbox_table .#{$class-prefix}highbox {
    height: 50px;
    padding: 10px;
}

th,
.#{$class-prefix}highbox_table .#{$class-prefix}highbox,
.#{$class-prefix}page .#{$class-prefix}highbox,
.#{$class-prefix}sidebar,
.#{$class-prefix}table_3 td {
    border-color: #eff2f5;
}

.#{$class-prefix}page td.#{$class-prefix}highbox {
    border-color: #eff2f5;
}

.#{$class-prefix}autowidth,
table.#{$class-prefix}form td.#{$class-prefix}autowidth {
    width: auto;
}


/* Text formatter */

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@include make-base-classes('');