/* ----  Message (Feedback) styles ---- */

@mixin notification-variant( $color) {
    background: $color;
    border: 1px solid $color;
}

$notification-nodes: ( "info": var(--color--success), "warning": var(--color--warning), "error": var(--color--abort));
.#{$class-prefix}message_cont {
    left: 50%;
    margin-left: -278px;
    position: fixed;
    top: 0;
    width: 556px;
    z-index: var(--order--notification);
    margin-top: 25px;
    .#{$class-prefix}message_node {
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 24px;
        margin: 15px;
        padding: 7px 12px;
        overflow: auto;
        position: relative;
        text-transform: uppercase;
        div {
            div {
                padding-right: 24px;
            }
        }
        a {
            &.close_button {
                display: block;
                width: 13px;
                height: 13px;
                float: right;
                position: absolute;
                top: 13px;
                right: 14px;
                background: url(#{$image-path}message_btn_close.png) no-repeat 50% 50%;
            }
        }
        @each $node,
        $color in $notification-nodes {
            &.#{$node} {
                @include notification-variant($color)
            }
        }
    }
}


/* ---- End of the Message (Feedback) styles ---- */