/* Pagination */

html[xmlns] .#{$class-prefix}paging.clearfix {
    display: inline-block;
}

.#{$class-prefix}paging {
    border: none;
    padding: 1px;
    font-size: 90%;
    font-weight: bold;
    a {
        display: inline-block;
        line-height: 100%;
        padding: var(--padd) var(--padd--md);
        text-decoration: none;
        color: var(--color--text);
        border-radius: 3px;
        font-weight: normal;
        background-color: var(--color--app--darkgray);
        &.active,
        &:hover {
            color: var(--color--primary);
        }
        &.active{
            background-color: var(--color--primary);
            color: var(--color--app);
        }
    }
    span {
        display: inline-block;
        padding-left: 3px;
    }
}