.#{$class-prefix}console_right,
.#{$class-prefix}console_main_wrap,
.#{$class-prefix}console,
.#{$class-prefix}console_body {
    width: 100%;
}

.#{$class-prefix}console {
    .#{$class-prefix}console_body {
        position: unset;
        .#{$class-prefix}console_item {
            position: unset;
        }
        .#{$class-prefix}tooltip {
            .#{$class-prefix}tooltip_body {
                max-width: 100vw;
                min-width: 100vw;
                .#{$class-prefix}console_list_wrapper {
                    width: 100vw !important;
                    .jspContainer {
                        width: 100vw !important;
                        .jspPane {
                            width: 99vw !important;
                        }
                    }
                }
            }
        }
        ul {
            &.#{$class-prefix}console_dropdown {
                .#{$class-prefix}console_dropdown_cont {
                    text-align: left;
                }
            }
        }
        .#{$class-prefix}console_dropdown_cont a {
            line-height: 24px;
        }
    }
}

.console_tooltip.#{$class-prefix}tooltip_top_right.#{$class-prefix}tooltip {
    right: 2px;
    top: var(--header-height) !important;
}

.console_tooltip.#{$class-prefix}tooltip_top_right .#{$class-prefix}tooltip_tail span {
    display: none;
}

body textarea.#{$class-prefix}newsfeed_status_input.invitation {
    height: 32px;
}