/* ---- Avatar styles ---- */

.#{$class-prefix}change_avatar {
    .avatar_current {
        border-right: 1px solid #eff2f5;
        padding-right: 3px;
    }
    .#{$class-prefix}avatar_preview {
        border-left: 1px solid #eff2f5;
        div {
            margin: 0px auto;
        }
    }
    .avatar_crop {
        border-bottom: 1px solid #eff2f5;
        .jcrop-holder {
            margin: 0px auto;
        }
    }
}

.#{$class-prefix}avatar {
    background-image: none;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: var(--avatar-width);
    height: var(--avatar-width);
    padding: 8px;
    img {
        vertical-align: bottom;
        border: var(--avatar-border);
        box-shadow: var(--avatar-box-shadow);
        border-radius: var(--avatar-radius);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .#{$class-prefix}avatar_label {
        font-size: 25%;
        display: inline-block;
        position: absolute;
        line-height: 10px;
        text-transform: uppercase;
        bottom: 8px;
        background-color: #999;
        right: 8px;
        color: #fff;
        font-weight: bold;
        padding: 0px 2px;
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
    }
}

html {
    body {
        .#{$class-prefix}sidebar,
        .#{$class-prefix}console {
            .#{$class-prefix}avatar_label {
                font-size: 50%;
            }
        }
    }
}

.#{$class-prefix}console {
    .#{$class-prefix}avatar_label {
        bottom: 4px;
        right: 4px;
    }
}


/* ---- End of the Avatar styles ---- */


/* Uheader profile avatar styles */

.#{$class-prefix}avatar_console,
.uh-avatar-console div.hg-avatar-image {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}


/* End Uheader profile avatar styles */


/* ---- Profile gallery avatar */

body {
    .#{$class-prefix}profile_gallery_avatar {
        .#{$class-prefix}profile_gallery_avatar_image {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            background-size: cover;
        }
        .#{$class-prefix}avatar_console {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            padding: 4px;
        }
        .#{$class-prefix}profile_gallery_avatar_change {
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            height: 192px;
            background: rgba(255, 255, 255, 0.9);
            text-align: center;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            .#{$class-prefix}lbutton {
                margin-top: 82px;
                padding: 10px;
                border-radius: 20px;
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
            }
        }
        .user_online_wrap {
            bottom: 17px;
            right: 20px;
            position: absolute;
        }
        .#{$class-prefix}miniic_live {
            display: inline-block;
            background: #fff;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            .#{$class-prefix}live_on {
                height: 15px;
                width: 15px;
                margin: 0px;
            }
        }
        box-shadow: none;
    }
}


/* ---- End of the Profile gallery avatar */