@import 'reactions.scss';
@import 'giphy.scss';

/* ----------- Comments styles---------- */

.#{$class-prefix}comments_form_giphy_wrap {
    height: 215px;
    overflow-x: auto;
    box-sizing: border-box;
}


/* Comment attachments */

body {
    .#{$class-prefix}attachments {
        a {
            background-color: transparent;
            &.video {
                margin: 0 0 0 -1px;
            }
        }
    }
}

.base_cmnts_temp_cont .#{$class-prefix}ipc_info {
    border: none;
    padding-bottom: 1px;
}

.#{$class-prefix}feed_comments_viewall,
.#{$class-prefix}photo_attachment_preview,
.#{$class-prefix}oembed_attachment_preview,
.#{$class-prefix}oembed_attachment_pic {
    background-color: #fff;
    border-color: #e4e9ee;
    border-style: solid;
}

.#{$class-prefix}comments_item {
    position: relative;
    padding: var(--padd--sm) 0;
    border-bottom: solid 1px var(--divider--light);
    .#{$class-prefix}comments_controls {
        position: relative;
        padding: var(--padd--xs) 0;
        &>* {
            display: inline-block;
            margin: 0 4px;
        }
        .webcilo_reaction_control {
            position: static;
        }
    }
    .#{$class-prefix}photo_attachment_stage,
    img {
        @include browser-compatible(border-radius, var(--border-radius--md));
    }
}

body {
    .#{$class-prefix}comments_replies_wrap {
        --picture-width: calc( var(--avatar-medium) + var(--padd--md));
        margin-left: calc(-1 * var(--picture-width));
        width: calc(100% + var(--picture-width));
        .#{$class-prefix}comments_replies {
            .#{$class-prefix}comments_item,
            .#{$class-prefix}comments_input_wrap,
            .#{$class-prefix}comments_form_giphy_wrap {
                padding-left: var(--avatar-medium);
            }
            // .#{$class-prefix}comments_form_giphy_wrap {}
            .#{$class-prefix}comments_item {
                &:first-child {
                    border-top: solid 1px var(--divider--light);
                }
            }
            .#{$class-prefix}comments_item_info {
                padding-right: var(--padd--sm);
            }
            .#{$class-prefix}comments_form_wrap {
                &:not(.active) {
                    display: none !important;
                }
            }
        }
    }
    .#{$class-prefix}comments_form_wrap {
        padding: 6px 16px 4px 6px;
        border-width: 1px;
        min-height: 42px;
        .#{$class-prefix}avatar {
            padding-top: 0px;
        }
    }
    .#{$class-prefix}comments_input_wrap {
        .#{$class-prefix}comments_item_picture {
            width: var(--avatar-small);
            .#{$class-prefix}avatar {
                width: var(--avatar-small);
                height: var(--avatar-small);
                padding: 8px 0;
            }
        }
        .#{$class-prefix}comments_item_info {
            width: calc(100% - var(--avatar-small));
            /* padding: var(--padd) var(--padd) var(--padd--xs); */
            .#{$class-prefix}comments_input {
                padding-top: 0px;
                position: relative;
                margin-top: -2px;
                textarea {
                    &.comments_fake_autoclick {
                        width: 100%;
                        height: 40px;
                        margin: 0;
                        padding: var(--padd);
                        color: var(--color--text);
                        background-clip: padding-box;
                        border-radius: var(--border-radius--md);
                        outline: none;
                        transition: box-shadow .2s ease;
                        padding-right: 60px;
                        resize: none;
                        overflow: hidden;
                        background-color: var(--color--app--gray);
                        border: 1px solid transparent;
                        box-shadow: none;
                        &:focus {
                            background-color: var(--color--app--darkgray);
                        }
                    }
                }
            }
        }
        .#{$class-prefix}attachment_icons {
            position: absolute;
            top: 20%;
            right: 5px;
        }
        .#{$class-prefix}attachments {
            a {
                height: 20px;
                width: 20px;
                &.#{$class-prefix}btn_add_giphy {
                    background: url(#{$image-path}gif.svg) no-repeat scroll center center transparent;
                    background-size: auto;
                    width: 30px;
                }
            }
        }
    }
}

.#{$class-prefix}comments_mipc {
    &.#{$class-prefix}comments_paging {
        .#{$class-prefix}comments_list {
            margin-bottom: 8px;
        }
    }
    .#{$class-prefix}comments_list {
        margin-bottom: 1px;
    }
}

.#{$class-prefix}comments_form_top {
    .#{$class-prefix}comments_item {
        border-width: 0 1px 1px 1px;
    }
    .#{$class-prefix}paging {
        margin-bottom: 0;
        margin-top: 8px;
    }
}

.#{$class-prefix}photoview_info_wrap.sticked .#{$class-prefix}comments_item:last-child {
    border-width: 1px;
    margin-bottom: 12px;
}

.#{$class-prefix}comments_no_form .#{$class-prefix}comments_list .#{$class-prefix}comments_item:last-child {
    border-width: 1px;
}

.#{$class-prefix}comments_form_top.#{$class-prefix}comments_no_form .#{$class-prefix}comments_list .#{$class-prefix}comments_item:first-child {
    border-width: 1px;
}

.#{$class-prefix}newsfeed_features .#{$class-prefix}comments_list div .#{$class-prefix}context_action_block .#{$class-prefix}context_action {
    border-top-width: 1px;
}

.#{$class-prefix}comments_ipc .#{$class-prefix}comments_form_wrap {
    min-height: 50px;
}

.#{$class-prefix}feed_comments_viewall {
    text-align: right;
    padding: 8px 8px 8px 0;
    border-width: 1px 0 1px 0;
    min-height: 14px;
    text-align: center;
}

.#{$class-prefix}feed_comments_input_sticky {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.#{$class-prefix}feed_comments_input_sticky .#{$class-prefix}comments_input_wrap {
    padding: 6px 12px 4px 22px;
}

.#{$class-prefix}comments_mipc .#{$class-prefix}comments_item_picture,
.#{$class-prefix}feed_comments_input_sticky .#{$class-prefix}comments_item_picture,
.#{$class-prefix}comments_item_picture {
    width: var(--avatar-medium);
}

.#{$class-prefix}comments_item_picture {
    .#{$class-prefix}avatar {
        width: var(--avatar-medium);
        height: var(--avatar-medium);
        padding: 0 8px;
    }
}

.#{$class-prefix}comments_item_info {
    width: calc( 100% - (var(--avatar-medium) + var(--padd--md)));
    padding-left: var(--padd--md);
    padding-top: var(--padd--sm);
    font-size: calc((var(--font-size) * 17) / 20);
    textarea {
        &.#{$class-prefix}smallmargin {
            margin-bottom: 6px;
            width: 100%;
            margin-top: 4px;
        }
    }
    .#{$class-prefix}comments_content {
        padding: 2px 0;
        width: 100%;
        word-wrap: break-word;
    }
    .clearfix {
        .#{$class-prefix}comments_item_toolbar {
            white-space: normal;
        }
    }
    .mipc_url {
        font-weight: bold;
    }
}

.#{$class-prefix}comments_item_header {
    margin-bottom: 2px;
    &>a {
        color: var(--color-text);
        font-weight: bold;
    }
    span {
        display: block;
    }
}

.#{$class-prefix}comments_item_toolbar {
    float: left;
    font-size: 10px;
    width: 100%;
}

.#{$class-prefix}comments_date {
    position: absolute;
    right: 10px;
    top: -2px;
    height: 10px;
    &.#{$class-prefix}tiny {
        font-size: 60%;
    }
}

body {
    .#{$class-prefix}comments_list {
        .#{$class-prefix}tooltip {
            .#{$class-prefix}tooltip_body {
                padding: 4px 0px;
            }
        }
        .#{$class-prefix}context_action_list {
            a {
                padding: 4px 12px;
            }
        }
        .comments_view_all {
            padding-bottom: 5px;
        }
        .#{$class-prefix}attachment {
            padding-top: 4px;
        }
    }
}

.comment_add_arr {
    float: left;
    display: none;
    position: relative;
    z-index: 1;
    left: 1px;
    width: 5px;
    height: 9px;
    margin: 14px 0px 0px -5px;
    background: none;
}

body .#{$class-prefix}comments_content.#{$class-prefix}smallmargin {
    margin-bottom: 0px;
}

.#{$class-prefix}comments_content img {
    max-width: 100%;
}

.#{$class-prefix}comments_btn_block {
    padding: 0 0px 0px 0;
}

.#{$class-prefix}comments_item .cnx_action {
    position: absolute;
    right: 4px;
    top: 4px;
}

.#{$class-prefix}comments_msg {
    margin-top: 4px;
    color: #5b646a;
}

body .item_loaded {
    margin: 0px 3px 8px 57px;
}

.#{$class-prefix}feed_comments_input_sticky .#{$class-prefix}comments_form_wrap {
    border-top-width: 1px;
}

.#{$class-prefix}add_comments_form.#{$class-prefix}small {
    font-size: 14px;
}


/*End of comments styles*/