.#{$class-prefix}giphy {
    background-color: var(--color--app);
    padding: var(--padd);
    border-radius: 6px;
    margin: var(--padd);
    position: relative;
    .#{$class-prefix}giphy_nav {
        position: relative;
        border-top: 1px solid var(--divider--light);
        padding: var(--padd-xs);
        box-shadow: 0 0 20px var(--divider);
        border-radius: 6px;
        margin: var(--padd);
    }
    .#{$class-prefix}giphy_nav_items {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        overflow: hidden;
        a {
            display: inline-block;
            background-color: #eee;
            color: #555;
            padding: 4px var(--padd--sm);
            box-sizing: border-box;
            margin: 2px 1px;
            border-radius: 3px;
            font-size: 80%;
        }
    }
    .input-query-gifs {
        border: 0;
        background: transparent;
        height: 40px;
    }
    .#{$class-prefix}giphy_item {
        display: block;
        cursor: pointer;
        padding: 2px;
        img {
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
        }
    }
    .owl-carousel {
        .owl-stag {
            display: flex;
            .owl-item {
                flex-grow: 1;
                float: unset;
            }
        }
    }
}

.floatbox_body {
    .#{$class-prefix}giphy {
        $floatbox-gifs-height: 65px;
        .#{$class-prefix}giphy_nav_items {
            a {
                font-size: 70%;
            }
        }
        .#{$class-prefix}giphy_gifs {
            min-height: #{$floatbox-gifs-height};
            .#{$class-prefix}giphy_item {
                img {
                    height: #{$floatbox-gifs-height};
                }
            }
        }
    }
}

.#{$class-prefix}giphy_gifs {
    position: relative;
    min-height: 100px;
    .owl-nav {
        [class*=owl-] {
            position: absolute;
            top: 30%;
            z-index: 3;
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
}

.#{$class-prefix}giphy_selected {
    position: absolute;
    z-index: 10;
    right: 10%;
    bottom: 0;
    img {
        width: 50px;
        height: 50px;
        border-radius: 6px;
        padding: 2px;
        box-sizing: border-box;
        background: #fff;
    }
    a {
        &.delete {
            position: absolute;
            display: block;
            top: 1%;
            right: 2%;
            background: rgba(255, 255, 255, .7);
            text-align: center;
            padding: 5px;
            box-sizing: border-box;
            line-height: .3;
            border-radius: 2px;
            color: #333;
            text-transform: uppercase;
        }
    }
}