body{
    .#{$class-prefix}tab_content_wrap {
        background-color: var(--color--app);
        border-radius: var(--border-radius--md);
        @include browser-compatible(box-shadow, var(--box-shadow--hard));
        margin: 0 var(--padd--md);
        .#{$class-prefix}content_menu_wrap {
            margin: 0;
        }
        .#{$class-prefix}tab_content{
            background-color: var(--color--app);
            padding: var(--padd);
        }
    }
}