/* Box Style */

.#{$class-prefix}box_wrap {
    background-color: var(--color--app);
    --text-color: var(--color--text);
    --shadow: var(--box-shadow--hard);
    --radius: var(--border-radius--xl);
    position: relative;
    color: var(--text-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.#{$class-prefix}box_cap_empty {
    background: none;
    margin-bottom: 8px;
}

.#{$class-prefix}box_cap {
    border-bottom: 1px solid var(--divider--light);
    padding: 0;
}

.#{$class-prefix}box_cap h3,
.#{$class-prefix}box_cap_empty h3 {
    padding: var(--padd);
    text-transform: capitalize;
    margin: 0;
    font-size: 100%;
}

html body .#{$class-prefix}box_cap .#{$class-prefix}box_cap_body h3,
html body .#{$class-prefix}box_cap_empty .#{$class-prefix}box_cap_body h3 {
    background-image: none;
}

.#{$class-prefix}box_cap .#{$class-prefix}box_cap_body,
.#{$class-prefix}box_cap_empty .#{$class-prefix}box_cap_body {
    min-height: 32px;
}

.#{$class-prefix}box,
.#{$class-prefix}box_empty {
    position: relative;
    word-break: break-word;
}

.#{$class-prefix}box {
    padding: var(--padd--md);
    position: relative;
}

.#{$class-prefix}forum_topic_posts .#{$class-prefix}box {
    /*border-top: 1px solid #dddfeb;*/
}

.#{$class-prefix}box .bottom_toolbar,
.#{$class-prefix}box_mod .bottom_toolbar {
    margin-top: 10px;
    /*border-top: 1px solid #dddfeb;*/
    font-size: 10px;
    padding: 0 5px;
    text-align: right;
}

.#{$class-prefix}box_empty .#{$class-prefix}box_toolbar_cont {
    border-bottom: 2px solid #eff2f5;
}

.#{$class-prefix}box_toolbar {
    margin-top: 16px;
    float: right;
    white-space: nowrap;
    span {
        padding: 0px 2px 0px 0px;
        &.#{$class-prefix}nowrap {
            a {
                display: inline-block;
                border: 1px solid transparent;
                padding: 0px 6px 0px;
                line-height: 21px;
                &:hover {
                    color: var(--color--primary);
                }
            }
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.#{$class-prefix}box_toolbar .#{$class-prefix}delimiter,
.#{$class-prefix}ic_toolbar .#{$class-prefix}delimiter {
    display: none;
}

.#{$class-prefix}video_wrapper{
    display: flex;
    // justify-content: space-between;
    margin-left: 50px;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    box-sizing: border-box;
    .#{$class-prefix}single_video{
        background-color: #fff;
        border-radius: 5px;
        h2{
            font-size: 1rem;
            padding: 10px 17px;
            margin: 0;
        }
        #videos{
            display: flex;
            justify-content: center;
        }
        .#{$class-prefix}video_stat_wrapper {
            padding: 0 15px;
            box-sizing: border-box;
            font-size: 0.75rem;
            .#{$class-prefix}video_stat {
                padding: 10px 0;
                
            }
            .#{$class-prefix}video_stat_border{
                border-bottom: 1px solid #2222;
            }
        }
    }
}