.#{$class-prefix}row_gutters {
    margin-top: calc(var(--gutter-y) * -1);
    margin-right: calc(var(--gutter-x) * -.5);
    margin-left: calc(var(--gutter-x) * -.5);
    &>.#{$class-prefix}column,
    &>.#{$class-prefix}narrow,
    &>.#{$class-prefix}wide,
    &>.#{$class-prefix}superwide,
    &>.#{$class-prefix}supernarrow,
    &>*[class*='ow_item_'],
    &>*[class*='ow_col_'],
    &>*[class*='ow_column_'] {
        flex-shrink: 0;
        @include create_gutter();
    }
}

@include make-base-grids('');